<%= form_with(model: initiative) do |form| %>
  <% if initiative.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
        <% initiative.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-6">
      <%= form.label :key_result_id, style: "display: block" %>
      <%= select_tag :key_result_id, options_for_select(@key_results), class:"form-control"%>
    </div>
    <div class="col-6">
      <%= form.label :owner_id, style: "display: block" %>
      <%= select_tag :owner_id, options_for_select(@owners), class:"form-control"%>
    </div>
    <div class="col-6">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class:"form-control w-100" %>
    </div>
    <div class="col-3">
      <%= form.label :start_date, style: "display: block" %>
      <%= form.date_field :start_date, class:"form-control" %>
    </div>
    <div class="col-3">
      <%= form.label :end_date, style: "display: block" %>
      <%= form.date_field :end_date, class:"form-control" %>
    </div>
    <div class="col-3">
      <%= form.label :type_metric, style: "display: block" %>
      <%= form.text_field :type_metric, class:"form-control" %>
    </div>
    <div class="col-3">
      <%= form.label :start_value, style: "display: block" %>
      <%= form.text_field :start_value, class:"form-control" %>
    </div>
    <div class="col-3">
      <%= form.label :target, style: "display: block" %>
      <%= form.text_field :target, class:"form-control" %>
    </div>
    <div class="col-3">
      <%= form.label :current_value, style: "display: block" %>
      <%= form.text_field :current_value, class:"form-control" %>
    </div>
    <div class="col-3">
      <%= form.label :progress, style: "display: block" %>
      <%= form.text_field :progress, class:"form-control" %>
    </div>
    <div class="col-9"></div>
    <div class="col-12">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, class:"form-control w-100" %>
    </div>
    <div class="col-9"></div>
    <div class="col-3 text-right p-2">
      <%= form.submit nil, class:"btn btn-success" %>
    </div>
  </div>
<% end %>
