<div id="<%= dom_id initiative %>">
  <p>
    <strong>Name:</strong>
    <%= initiative.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= initiative.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= initiative.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= initiative.end_date %>
  </p>

  <p>
    <strong>Type metric:</strong>
    <%= initiative.type_metric %>
  </p>

  <p>
    <strong>Strat value:</strong>
    <%= initiative.strat_value %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= initiative.target %>
  </p>

  <p>
    <strong>Current value:</strong>
    <%= initiative.current_value %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= initiative.progress %>
  </p>

  <p>
    <strong>Key result:</strong>
    <%= initiative.key_result_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= initiative.owner_id %>
  </p>

</div>
