<%= form_with(model: owner) do |form| %>
  <% if owner.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><%= pluralize(owner.errors.count, "error") %> prohibited this owner from being saved:</p>

      <ul>
        <% owner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <%= form.label :user_id, style: "display: block" %>
      <%= select_tag :user_id, options_for_select(@users), class:"form-control"%>
    </div>
    <div class="col-12">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class:"form-control w-100" %>
    </div>
    <div class="col-12 text-right p-2">
      <%= form.submit nil, class:"btn btn-success"%>
    </div>
    <%= hidden_field_tag :organization_id, "1" %>
  </div>

<% end %>
