<div id="<%= dom_id owner %>">
  <div class="row">
    <div class="col-12">
      <%= label_tag "User" %>
      <%= text_field_tag "name", @user.email, class:"form-control w-100", readonly: true %>
    </div>
    <div class="col-12">
      <%= label_tag "Name" %>
      <%= text_field_tag "name", owner.name, class:"form-control w-100", readonly: true %>
    </div>
  </div>
</div>
