<%= form_with(model: objective) do |form| %>
  <% if objective.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</p>

      <ul>
        <% objective.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-6">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class:"form-control w-100" %>
    </div>
    <div class="col-6">
      <%= form.label :owner_id, style: "display: block" %>
      <%= select_tag :owner_id, options_for_select(@options), class:"form-control"%>
    </div>
    <div class="col-12">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, class:"form-control w-100" %>
    </div>
    <div class="col-9"></div>
    <div class="col-3 text-right p-2">
      <%= form.submit nil, class:"btn btn-success" %>
    </div>
  </div>

  <!--<div>
    <%= form.label :average_progress, style: "display: block" %>
    <%= form.text_field :average_progress %>
  </div>-->

  <!--<div>
    <%= form.label :organization_id, style: "display: block" %>
    <%= form.text_field :organization_id %>
  </div>-->

<% end %>
