<div id="<%= dom_id objective %>">
  <p>
    <strong>Name:</strong>
    <%= objective.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= objective.description %>
  </p>

  <p>
    <strong>Average progress:</strong>
    <%= objective.average_progress %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= objective.organization_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= objective.owner_id %>
  </p>

</div>
