<div id="<%= dom_id key_result %>">
  <p>
    <strong>Name:</strong>
    <%= key_result.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= key_result.description %>
  </p>

  <p>
    <strong>Period:</strong>
    <%= key_result.period %>
  </p>

  <p>
    <strong>Type metric:</strong>
    <%= key_result.type_metric %>
  </p>

  <p>
    <strong>Strat value:</strong>
    <%= key_result.strat_value %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= key_result.target %>
  </p>

  <p>
    <strong>Current value:</strong>
    <%= key_result.current_value %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= key_result.progress %>
  </p>

  <p>
    <strong>Objective:</strong>
    <%= key_result.objective_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= key_result.owner_id %>
  </p>

</div>
